
.customOptionList {
    // margin: 10px 0 0 30px;
    & > span:first-of-type {
        margin-right: 25px;
    }
    cursor: pointer;
    

    & > span {
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
        
    }

    img {
        height: 25px;
        position: relative;
        top: 8px;
    }
}