
html {
    font-family: Roboto, HelveticaNeue, Arial, sans-serif;
    font-size: 14px;

    body {
        .reservationPanel {
            width: 75%;
            height: 150px;
            position: relative;
            margin: 0 auto;
            margin-top: -110px;
            background-color: #3367d6;
            color: #fff;

            .optionLists {

            }

            .departureReturnInputs {
                padding: 50px 0 0 30px;
            }

            .searchButton {
                position: relative;
                top: 30px;
            }
        }
    }
}