
html {
    font-family: Roboto, HelveticaNeue, Arial, sans-serif;
    font-size: 14px;

    body {
        .reservationPanel {
            width: 75%;
            height: 150px;
            position: relative;
            margin: 0 auto;
            margin-top: -110px;
            background-color: #3367d6;
            color: #fff;

            .optionLists {
                display: flex;
                padding: 20px 40px 10px;

            }

            .departureReturnInputs {
                padding: 10px 40px;

                & > div:first-of-type::after {
                    
                }
            }

            .searchButton {
                width: 200px;
                position: relative;
                bottom: -20px;
                margin: 0 auto;
            }
        }
    }
}